In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.neighbors import NearestNeighbors
import sqlite3
import pickle
import os

In [3]:
con = sqlite3.connect("db.sqlite3", isolation_level=None,
                           detect_types=sqlite3.PARSE_COLNAMES)

In [4]:
Movies = pd.read_sql_query("SELECT * FROM Movies_movie", con)
Movie_genres = pd.read_sql_query('select * from Movies_movie_Genres',con)
Gneres = pd.read_sql_query('select * from Movies_genre',con)

In [5]:
Genres = Gneres.set_index('id').to_dict()
Movie_genres.genre_id = Movie_genres.genre_id.apply(lambda x: Genres['genre'][x])
Movie_genres = Movie_genres.groupby('movie_id')['genre_id'].apply('|'.join).reset_index()

In [6]:
genre_features = Movie_genres.genre_id.str.get_dummies(sep='|')

In [7]:
Movie_feartures = Movies[['id','Imdb_rating', 'RunTime','Rating','Year']]
Movie_feartures = pd.concat([Movie_feartures, genre_features], axis=1, join='inner')

In [8]:
min_max_scaler = MinMaxScaler()
movies_final_features = min_max_scaler.fit_transform(Movie_feartures.reset_index())

In [9]:
np.round(movies_final_features,2)

array([[0.  , 0.  , 0.4 , ..., 0.  , 0.  , 0.  ],
       [0.  , 0.  , 0.24, ..., 1.  , 0.  , 0.  ],
       [0.  , 0.  , 0.49, ..., 0.  , 0.  , 0.  ],
       ...,
       [1.  , 1.  , 0.67, ..., 0.  , 0.  , 0.  ],
       [1.  , 1.  , 0.26, ..., 1.  , 0.  , 0.  ],
       [1.  , 1.  , 0.23, ..., 0.  , 0.  , 0.  ]])

In [10]:
nbrs = NearestNeighbors(n_neighbors=5, algorithm='brute').fit(movies_final_features)
distances, indices = nbrs.kneighbors(movies_final_features)

In [11]:
Recommendatiosn_df = pd.DataFrame(indices)

In [12]:
Recommendatiosn_df = pd.concat([Movies.id, Recommendatiosn_df], axis =1)

In [13]:
with open('Recommendations.pkl', 'wb') as file:
    pickle.dump(Recommendatiosn_df, file)

## helper functions

In [78]:
def Train():
    try:
        con = sqlite3.connect("db.sqlite3", isolation_level=None,
                               detect_types=sqlite3.PARSE_COLNAMES)
        Movies = pd.read_sql_query("SELECT * FROM Movies_movie", con)
        Movie_genres = pd.read_sql_query('select * from Movies_movie_Genres',con)
        Gneres = pd.read_sql_query('select * from Movies_genre',con)
    
        Genres = Gneres.set_index('id').to_dict()
        Movie_genres.genre_id = Movie_genres.genre_id.apply(lambda x: Genres['genre'][x])
        Movie_genres = Movie_genres.groupby('movie_id')['genre_id'].apply('|'.join).reset_index()

        genre_features = Movie_genres.genre_id.str.get_dummies(sep='|')
        Movie_feartures = Movies[['id','Imdb_rating', 'RunTime','Rating','Year']]
        Movie_feartures = pd.concat([Movie_feartures, genre_features], axis=1, join='inner')

        min_max_scaler = MinMaxScaler()
        movies_final_features = min_max_scaler.fit_transform(Movie_feartures.reset_index())

        nbrs = NearestNeighbors(n_neighbors=5, algorithm='brute').fit(movies_final_features)
        distances, indices = nbrs.kneighbors(movies_final_features)

        Recommendatiosn_df = pd.DataFrame(indices)
        Recommendatiosn_df = pd.concat([Movies.id, Recommendatiosn_df], axis =1)

        with open('Recommendations.pkl', 'wb') as file:
            pickle.dump(Recommendatiosn_df, file)
        return Recommendatiosn_df
    except:
        print("error in connecting to database")
        return False

In [79]:
def Train_or_Get(train = None, filepath = "Recommendations.pkl"):
    if not train and os.path.exists(filepath):
        indices = pd.DataFrame()
        with open(filepath,'rb') as file:
            indices = pickle.load(file)
        return indices
    else:
        return Train()

In [80]:
Train_or_Get()

      id    0    1    2    3    4
0     23    0   27   74   60   98
1     24    1  303   87  463   34
2     25    2   56   70  150  212
3     26    3   83  245  122  269
4     27    4   12    5   15   11
..   ...  ...  ...  ...  ...  ...
659  682  659  577  396  311  224
660  683  660  658  616  584  656
661  684  661  633  637  623  593
662  685  662  596  586  562  552
663  686  663  473  531  593  484

[664 rows x 6 columns]

In [72]:
class Get_Recommendations:
    def __init__(self):
        self.Recommendation_indices = []
    def get_Indices(self):
        self.Recommendation_indices = Train_or_Get()
    def userRecommendations(self,id):
        self.get_Indices()
        MovieId = []
        if not self.Recommendation_indices:
            related = np.array(self.Recommendation_indices[self.Recommendation_indices.id == id].iloc[:, 2:])[0] 
            for i in related:
                MovieId.append(self.Recommendation_indices.iloc[i].id)
        return MovieId

In [73]:
u = Get_Recommendations()

In [74]:
u.userRecommendations(27)

[35, 28, 38, 34]

In [47]:
Movies[Movies.id == 34]

,id,ImdbId,Title,Imdb_rating,Image_link,Year,Num_ratings,RunTime,Rating
11,34,1628841,Independence Day: Resurgence,5.3,https://images-na.ssl-images-amazon.com/images...,2016,159650,120,5.2